APP_NAME="Kopdes"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=id
APP_TIMEZONE=UTC

DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=kopdes
DB_USERNAME=kopdes
DB_PASSWORD=kopdes

DB_TESTING_HOST=mariadb-testing
DB_TESTING_PORT=3306
DB_TESTING_DATABASE=kopdes_testing
DB_TESTING_USERNAME=kopdes
DB_TESTING_PASSWORD=kopdes

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

SESSION_DRIVER=redis
CACHE_STORE=redis
QUEUE_CONNECTION=redis

BROADCAST_CONNECTION=reverb
REVERB_APP_ID=kopdes
REVERB_APP_KEY=kopdes-key
REVERB_APP_SECRET=kopdes-secret
REVERB_HOST=localhost
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_APP_NAME="${APP_NAME}"
